{% extends "summary_base.html" %}

{% block nav_form_action %}/summary/get_profile{% endblock %}

{% block summary_content %}
	<div id="about" class="container" style="margin-top:60px;">
		<div class="row">
			<div class="col-md-12" style="text-align:center">
				<h2>About</h2>
			       <div class="row">
					  <div class="col-md-offset-3 col-md-6">
					    <p>
					    	Steamize is a Python-based web application using Django Framework. It makes use of Steam's Web API to extract data and information, given the account ID. It makes sure the API requests are called asynchronously to provide full optimization. The data is formatted into a structured JSON schema, where it is stored in a Mongo Database for easy retrieval by the Steamize app.
					    </p>
					</div>
			</div>
	</div>
{% endblock %}

